
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container">

    <h2 class="mb-3">Carrinho</h2>

    <ul class="list-unstyled">
        <li class="media">
            <img class="mr-4" src="~/Content/images/tenis.jpg" alt="Generic placeholder image" width="120" height="120">
            <div class="media-body">
                <h6 class="mt-0 mb-3"><strong>Tênis</strong></h6>
                <h6>Quantidade: 1</h6>
                <h6>Preço: R$ 100.00</h6>
            </div>
            <a href="#">
                <em class="fas fa-times fa-2x text-dark"></em>
            </a>
        </li>
    </ul>
</div>

